body {
    margin: 0;
    background-color: darkcyan;
    color: lightgray;
}

#main {    
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#score-card {
    background-color: blueviolet;
    text-align: center;
    width: 30%;   
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
    flex-direction: column;
}

#rules {
    text-align: center;    
    padding: 20px;
    width: 30%;
    background-color: blueviolet;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;       
    border: 1px solid red;
}

#dice, .upper-section, .lower-section {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

.score-box{
    width: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
    border: 1px solid blue;    
}


#upper-total, #lower-total, #totals {
    width: 20%;    
    background-color: black;
    display: flex;
    justify-content: center;
    border: 1px solid blue;    
}

#basics, #app-instructions, #scoring {
    text-align: left;
}

#game-settings {
    text-align: center;
}

#dice-imgs {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    border: 1px solid black;
}

#dice-first, #dice-second, #dice-third, #dice-fourth, #dice-fifth {
    display: flex;
    justify-content: center;
    margin: 25px auto;
    width: 50px;
    height: 50px;;
    border: 1px solid black;
}

#bottom-buttons {
    display: flex;
    justify-content: space-around;
}

.shown-dice {
    background-color: darkcyan;
}