/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    font-family: "Pixelify Sans", sans-serif;
    
    margin: 0;    
    background-color: darkcyan;
    color: lightgray;
    /* font-weight: bold; */
}

#main { 
     
    display: flex;
    justify-content: space-between;
    
}

#score-card {
    background-color: blueviolet;
    text-align: center;
    width: 30%;   
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    flex-direction: column;
}

#rules {
    text-align: center;    
    padding: 20px;
    width: 30%;
    background-color: blueviolet;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid gray;       
    
}

 .upper-section, .lower-section {
    padding: 25px;
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid gray ;
    
}

.triples, .aces {
    border-top: 1px solid gray;
}



.score-box{
    width: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
        
}


#upper-total, #lower-total, #totals {
    width: 20%;    
    background-color: black;
    display: flex;
    justify-content: center;
       
}

#basics, #app-instructions, #scoring {
    text-align: left;
}

#game-settings, #screen-title {
   display: flex;
   flex-direction: column;
   margin: auto;
   justify-content: space-around;
   width: 20%;
   text-align: center;  
}

#dice-imgs {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
        
}

#dice-first, #dice-second, #dice-third, #dice-fourth, #dice-fifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    margin:12.5px auto;
    width: 50px;
    height: 50px;;
    border: 3px solid black;
    border-radius: 20%;
}

#bottom-buttons, #new-game {
    display: flex;
    justify-content: space-between;

}

.shown-dice {
    background-color: darkcyan;
}

#total {
    border-bottom: 0px;
}

#new-game {
    
    text-align: center;
    margin: 0 auto;    
}


